
<main id="main">
<section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>K.S. FASTNERS</h2><br><br>
            <h3>One Stop For All Your Die-Casting Problems</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
               Since 2012, We Are A Trading Firm Catering Both The Domestic Customers And Export Houses. 
            </p>
            
            <ul>
              <li><i class="fas fa-check-circle"></i> 100% Customer Satisfaction. </li>
              <li><i class="fas fa-check-circle"></i> Operates Considering The Enviroment And Buissness Ethics.</li>
              <li><i class="fas fa-check-circle"></i> And Much More..</li>
            </ul>
            <p class="font-italic">
              Quality Is A Degree Of Excellence. Quality Is Our First Priority  
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
  </main>