

<header id="header" class="fixed-top ">
   
   

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mainHeading " href="#">KS FASTNERS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <div class='container d-flex '>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item pl-2">
              <a class="nav-link" href="{% url 'home'%}">Home </a> 
            </li>
            <li class="nav-item pl-2">
              <a class="nav-link" href="{%url 'about'%}">About </a>
            </li>
            <li class='nav-item pl-2'>
              <a class='nav-link scrollto' href="#portfolio">Products</a>
            </li>
            <li class='nav-item pl-2'>
              <a class='nav-link scrollto' href="#footer">Contact</a>
            </li>
            <li class='nav-item pl-2'>
              <a class='nav-link' href="{% url 'policy' %}">Our Policy</a>
            </li>
            <li class="nav-item pl-2">
              <a class="nav-link" href="{% url 'certi'%}">OEKOTEX Certificate</a>
            </li>
           
          </ul>
        </div>
        <br>
         <a href="https://docs.google.com/forms/d/e/1FAIpQLSc52v_Kr_PP4k513ikku6PifFoGwxhLEfHyCaujqYu1Z1TC9g/viewform?embedded=true" class="get-started-btn ml-auto">Request A Call back?</a>

        </div>
        
      </nav>
   
  </header> 

  <style>

    .mainHeading{
      font-size: 30px;
      font-weight: 600;
    }
    #header{
      background-color: #F8F9FA;
    }
  </style>


