<main id='main'>
<section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(https://www.dhresource.com/0x0/f2/albu/g8/M00/43/F1/rBVaV15p_L2AVsC4AAIbo-oCkPI260.jpg)">
           <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>KS FASTNERS</span></h2>
              <p class="animate__animated animate__fadeInUp">Meeting Commitments. Since The Beginning</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
       <div class="carousel-item " style="background-image: url(https://media.istockphoto.com/photos/fabric-rolls-at-shop-picture-id1082694112?k=6&m=1082694112&s=612x612&w=0&h=gQS-mvnioQVFLaWJiQRXWX2SfzUXa346xOHwwcFZess=)">
           <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>KS FASTNERS</span></h2>
              <p class="animate__animated animate__fadeInUp">Meeting Commitments. Since The Beginning</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
         <div class="carousel-item " style="background-image: url(https://st.depositphotos.com/2048001/2421/i/450/depositphotos_24212193-stock-photo-textile-machine-with-rainbow-colors.jpg)">
       <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>KS FASTNERS</span></h2>
              <p class="animate__animated animate__fadeInUp">Meeting Commitments. Since The Beginning</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="fas fa-arrow-circle-left fa-lg" aria-hidden="true"></span>
        <i class=""></i>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="fas fa-arrow-circle-right fa-lg" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </section><!-- End Hero -->
</main>
