 <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>K.S. Fastners</h2>
          <p>Services</p>
        </div>
<a class='btn btn-danger  my-3' href="{% url 'port' %}" >View More?</a>
        <div class="row">
        {% for i in obj %}
            <div class="col-md-6 mt-4 mt-md-0">
              <div class="icon-box">
                <i class="fas fa-arrow-right mr-2"> </i>
              <h4><a href="{% url 'product' i.id%}">{{i.name}}</a></h4>
                <p>{{i.desc}}</p>
                
              </div>
            </div>
        {% endfor %}
        
        </div>
<a class='btn btn-danger  my-3' href="{% url 'port' %}" >View More?</a>
      </div>
    </section><!-- End Services Section -->
